.ContModulos-div-container{
    width: 95vw;
    height: fit-content;
    padding: 25px 0;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 15px auto 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

