.secundario{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding: 0 30px;
    margin: auto 0;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.registrar>h1{
    color: var(--color-principal);
    font-size: 48px;
    text-align: center;
}

@media screen and (min-width: 821px) {
    .secundario{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .registrar{
        margin: 20px auto;
        width: 750px;
    }

    .secundario .titulo{
        margin: auto 0;
    }

    .secundario>.formulario{
        width: 70%;
        margin: auto auto;
        height: min-content;
    }
}

.titulo h1{
    font-size: 48px;
    color: var(--color-principal);
}

.formulario{
    border-radius: var(--curvatura);
    margin: 0 auto;
    width: 70%;
    padding: 30px;
    background-color: #fff;
    -webkit-box-shadow: 8px 10px 44px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 44px -6px rgba(0,0,0,0.75);
    box-shadow: 8px 10px 44px -6px rgba(0,0,0,0.75);
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 4px solid var(--gris);
}

.contenedor input:focus, .contenedor select:focus{
    border: 2px solid var(--azul-oscuro);
}

.contenedor input[type=number]::-webkit-inner-spin-button,
.contenedor input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
.contenedor input[type=number] { -moz-appearance:textfield; }

.contenedor input, .contenedor select{
    padding-left: 5px;
    height: 35px;
    border-radius: var(--curvatura);
    border: var(--borde-gris);
    box-sizing: border-box;
    outline: none;
}

.contenedor select{
    background-color: var(--color-principal);
    color: white;
}

.divisor{
    display: flex;
    justify-content: space-between;
}
.divisor *{
    width: 45%;
}

.formulario .enviar{
    height: 30px;
    width: 50%;
    margin: 0 auto;
    border-radius: var(--curvatura);
    cursor: pointer;
    background-color: var(--color-principal);
    border: none;
    color: white;
}

.formulario .link{
    display: block;
    margin-top: 10px;
    color: var(--color-principal);
    text-decoration: none;
}

.select-fecha{
    width: 100%;
}
