@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root{
    --color-principal:#31B8D4;
    --color-borde-trans:#268ca09a;
    --font-color:#EDFBFF;
    --rojo:#FB5858;
    --borde-rojo:#9c3d3d;
    --color-fondo-cita: #31b9d434;
    --color-hr:#A5969C;
    --color-modal: #bbbbbb62;
    --fondo: #F0F2F5;
    --gris: #A5969C;
    --fuente: 'Sen', sans-serif;

    --borde-azul: 2px solid var(--azul-oscuro);
    --borde-gris: 2px solid var(--gris);
    --sombra: 3px 3px 1px 1px;
    --curvatura: 10px;
}

.app-div{
    height: fit-content;
}

hr{
    width: 95vw;
    margin-top: 25px;
    height: 10px;
    border: none;
    background-color: var(--color-hr);
    border-radius: 15px;
}

.rojo{
    background-color: var(--rojo);
    border: 1px solid var(--borde-rojo);
    height: 42px;
    width: 80%;
    border-radius: 15px;
    font-weight: bold;
    color: var(--font-color);
    cursor: pointer;
    transition:background-color  ease 0.3s;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
}

.rojo:hover{
    background-color: var(--font-color);
    border: 0.5px solid var(--borde-rojo);
    color: var(--rojo);
}

.azul{
    background-color: var(--color-principal);
    border: 1px solid var(--color-borde-trans);
    height: 42px;
    width: 80%;
    border-radius: 15px;
    font-weight: bold;
    color: var(--font-color);
    cursor: pointer;
    transition: background-color ease 0.3s;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
}

.azul:hover{
    background-color: (var(--font-color));
    border: 0.5px solid var(--color-borde-trans);
    color: var(--color-principal);
}

select, .select{
    background-color: var(--font-color);
    border-radius: 5px;
    height: 30px;
    color: black;
    font-weight: bold;
    border: 1px solid var(--color-borde-trans);
}

.modalControles{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.visibleHam{
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-modal);
    height: 100%;
}

.visibleHam>div{
    background-color: var(--color-principal);
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 1px solid var(--color-borde-trans);
    margin: 15px 0;
    color: var(--font-color);
}

.visibleHam>div:nth-child(3){
    width: 45px;
    height: 45px;
    margin: auto;
    border-radius: 50%;
}

.visibleHam>div{
    cursor: pointer;
}

a{
    text-decoration: none;
}
